@import "../sass/variables.scss";

.apartment-page {
  color: $color-primary;
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin-block: 0;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  h3 {
    color: $color-tertiary;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.apartment__description__area {
  display: flex;
  gap: 76px;
  li {
    list-style: none;
  }
}
