@import "../sass/variables.scss";

.apartment__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .apartment__title {
    flex-grow: 1;
  }
  .apartment__tags {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
    span {
      background-color: $color-primary;
      color: $color-secondary;
      border-radius: 10px;
      font-size: 14px;
      padding: 4px 10px;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  .apartment_host_details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
    text-align: right;
    @media screen and (max-width: 768px) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin: 0;
    }
  }

  h4 {
    margin-block: 0;
  }
}

.apartment_host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 10px;

  h4 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      margin-left: 10px;
      margin-right: auto;
      font-size: 12px;
    }
  }
}

.apartment_host_badge img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: $badge;
  margin-left: 10px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-right: 10px;
    height: 32px;
    width: 32px;
  }
}

.apartment_host_stars {
  display: flex;
  gap: 5px;
  color: $stars;
  @media screen and (max-width: 768px) {
    order: -1;
  }
  * {
    font-size: 36px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  .on {
    color: $color-primary;
  }
}

.host-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-name,
.last-name {
  display: block;
}
