@import "../sass/variables.scss";

.apartment {
  background-color: $color-primary;
  background-image: url("https://picsum.photos/800/400");
  border-radius: 10px;
  flex-basis: 30%;
  display: grid;
  align-items: end;
  min-width: 200px;
  min-height: 200px;
  background-size: cover;
}

.apart_link {
  text-decoration: none;
}

.apart_subtitle {
  width: 50%;
  color: $color-secondary;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .apartment {
    flex-basis: 100%;
  }
}
