@import "../sass/variables.scss";

.ThumbContainer {
  padding: 0 45px;
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    padding: 0;
    margin-bottom: 27px;
  }
}
.ThumbGrid {
  background-color: $grid-background-grey;
  min-height: 50vh;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
  padding: 56px 50px 43px 50px;
  justify-content: center;

  @media screen and (max-width: 768px) {
    background-color: white;
    grid-template-columns: 1fr;
    padding: 22px 0px 27px 0px;
  }
}
