@import "../sass/variables.scss";

.footer {
  background-color: $color-tertiary;
  color: $color-secondary;
  padding: 20px;
  text-align: center;
  width: calc(100% + 90px);
  margin: 0 -45px;
  box-sizing: border-box;
  margin-top: 93px;
  margin-bottom: -10px;
}
.footer_logo {
  margin-bottom: 23px;
  margin-top: 66px;
  height: 18.85%;
}
.footer_text {
  margin-top: 29px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 27px;
  }
}
