@import "../sass/variables.scss";

.footer {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 209px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    padding: 0;
    margin: -19px;
    font-size: 14px;
  }
}

.footer_text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */

  @media screen and (max-width: 768px) {
    font-size: 14px;
    width: 100%; /* Adapte la largeur du texte */
  }
}

.footer_logo {
  margin: 0; /* Retire les marges autour du logo */
  height: auto; /* Ajuste la hauteur en fonction de l'image */
}
